{% load static %}

<form class="row row-cols-lg-auto g-3 align-items-center mt-3" method="post" action="{% url 'photographer:add-photo'%}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Caption</label>
        <div class="input-group">
            <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Caption" name="caption">
        </div>
    </div>

    <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername">Add Photo</label>
        <div class="input-group">

            <input type="file" class="form-control" id="inlineFormInputGroupUsername" placeholder="..." name="photo">
        </div>
    </div>


    <div class="col-12">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>